## Hendrik Venter - DataFrames

In [1]:
%load_ext nb_black


import math
import pandas as pd

In [2]:
star_table = pd.read_csv('./Data/NamedStars.csv')

In [4]:
star_table.head(70)

         Name         RA        DEC
0   Alpheratz   0.139769  29.090828
1        Caph   0.152803  59.150218
2     Algenib   0.220597  15.183616
3       Ankaa   0.438019 -42.305122
4      Shedir   0.675108  56.537409
..        ...        ...        ...
65       Enif  21.736428   9.875008
66     Alnair  22.137188 -46.960616
67  Fomalhaut  22.960785 -29.621837
68     Scheat  23.062870  28.082455
69     Markab  23.079338  15.205368

[70 rows x 3 columns]

## The `DataFrame` `star_table` has the following columns:

* Name
* RA (hours) [1 hour = 15 degrees]
* DEC (degrees)

---

### Answer each of the following questions by applying various methods to the `star_table` DataFrame.

### Try to make your use of methods clear and easy to read/follow.

### Your answer should be obvious from the output of your work.

---

### How many stars are in `star_table`?

In [5]:
star_table.count()

Name    70
RA      70
DEC     70
dtype: int64

In [6]:
print('Number of stars:',star_table['Name'].count())

Number of stars: 70

### What fraction of stars are circumpolar as seen from the North Pole ($\theta$ = $+$90$^{\circ}$)?

In [7]:
circ_polar_northpole = star_table.query('DEC>90-90')['Name'].count()
circ_polar_northpole_fraction = circ_polar_northpole/70

In [8]:
print(circ_polar_northpole_fraction)

0.6571428571428571

### What fraction of stars are never seen from Quito, Ecuador ($\theta$ = $-$0.2$^{\circ}$)?

In [9]:
stars_nul_visible_Quito_Ecuador = star_table.query('DEC > 90+(-0.2)')['Name'].count()
stars_nul_visible_Quito_Ecuador_fraction = stars_nul_visible_Quito_Ecuador/70

In [10]:
print("Fraction:", stars_nul_visible_Quito_Ecuador_fraction)

Fraction: 0.0

### What fraction of stars are circumpolar as seen from Mount Cook, New Zealand ($\theta$ = $-$43.6$^{\circ}$)?

In [11]:
circ_polar_MtCook_NewZealand = star_table.query('DEC <-90-(-43.6)')['Name'].count()
circ_polar_MtCook_NewZealand_fraction = circ_polar_MtCook_NewZealand/70

In [12]:
print(circ_polar_MtCook_NewZealand)

7

In [13]:
print("Fraction:",circ_polar_MtCook_NewZealand_fraction)

Fraction: 0.1

### What star is closest to the Sun on the Vernal Equinox?

In [14]:
star_closest_to_sun_vernal_equinox = star_table.query('-5 < RA < 5 and -30 < DEC < 30')

In [15]:
star_closest_to_sun_vernal_equinox

         Name        RA        DEC
0   Alpheratz  0.139769  29.090828
2     Algenib  0.220597  15.183616
5      Diphda  0.726452 -17.986684
8       Hamal  2.119524  23.462777
10     Menkar  3.037994   4.089925
13    Alcyone  3.791407  24.105242
14  Aldebaran  4.598667  16.509762

In [16]:
#Take the stars from above, and assign RA and DEC variables for them all
#Index [0,2,5,8,10,13,14] -> [0,1,2,3,4,5,6]
RA0 = star_table['RA'][0]
DEC0 = star_table['DEC'][0]

RA1 = star_table['RA'][2]
DEC1 = star_table['DEC'][2]

RA2 = star_table['RA'][5]
DEC2 = star_table['DEC'][5]

RA3 = star_table['RA'][8]
DEC3 = star_table['DEC'][8]

RA4 = star_table['RA'][10]
DEC4 = star_table['DEC'][10]

RA5 = star_table['RA'][13]
DEC5 = star_table['DEC'][13]

RA6 = star_table['RA'][14]
DEC6 = star_table['DEC'][14]

In [17]:
print('RA0:',RA0,'DEC0:',DEC0)
print('RA1:',RA1,'DEC1:',DEC1)
print('RA2:',RA2,' DEC2:',DEC2)
print('RA3:',RA3,'DEC3:',DEC3)
print('RA4:',RA4,'DEC4:',DEC4)
print('RA5:',RA5,'DEC5:',DEC5)
print('RA6:',RA6,'DEC6:',DEC6)

RA0: 0.13976888 DEC0: 29.09082805
RA1: 0.22059721 DEC1: 15.18361593
RA2: 0.7264523  DEC2: -17.9866841
RA3: 2.11952383 DEC3: 23.46277743
RA4: 3.03799418 DEC4: 4.08992539
RA5: 3.79140671 DEC5: 24.10524193
RA6: 4.59866679 DEC6: 16.50976164

In [18]:
#Function calculates the apparent distance between a star and the sun at the vernal equinox using each stars RA & DEC
def calc_distance_vernal_equinox(RA,DEC):
    apparent_distance = math.sqrt((RA*15)**2+(DEC)**2) #Convert RA to degrees (multiply by 15) and use pythagorean theorem to get app distance #Vernal equinox: RA:0h DEC:0 degrees
    return apparent_distance

In [21]:
distance_array_vernal_equinox = (calc_distance_vernal_equinox(RA0,DEC0), #Create an array of the apparent distances
                                 calc_distance_vernal_equinox(RA1,DEC1),
                                 calc_distance_vernal_equinox(RA2,DEC2),
                                 calc_distance_vernal_equinox(RA3,DEC3),
                                 calc_distance_vernal_equinox(RA4,DEC4),
                                 calc_distance_vernal_equinox(RA5,DEC5),
                                 calc_distance_vernal_equinox(RA6,DEC6))
print(distance_array_vernal_equinox) #Print array of apparent distances

(29.166277240905618, 15.539993460365459, 21.029995657456354, 39.513133380760095, 45.75308113320225, 61.7688010054126, 70.92822347017878)

In [22]:
distance_dataframe_vernal_equinox = pd.DataFrame({'Name':star_closest_to_sun_vernal_equinox['Name'],'Distance':distance_array_vernal_equinox}) #Convert array to a dataframe

In [23]:
distance_dataframe_vernal_equinox #Print apparent distances (dataframe) of stars

         Name   Distance
0   Alpheratz  29.166277
2     Algenib  15.539993
5      Diphda  21.029996
8       Hamal  39.513133
10     Menkar  45.753081
13    Alcyone  61.768801
14  Aldebaran  70.928223

In [24]:
minimum_idx_vernal_equinox = distance_dataframe_vernal_equinox['Distance'].idxmin() #Finding the index of the minimum distance value

In [25]:
print('Index:',minimum_idx_vernal_equinox) #Print index value

Index: 2

In [26]:
print('Star:',star_table['Name'].loc[minimum_idx_vernal_equinox]) #Access the cell in the given dataframe and print the name

Star: Algenib

In [27]:
print('Apparent Distance:',distance_dataframe_vernal_equinox['Distance'].loc[minimum_idx_vernal_equinox]) #Print apparent distance in degrees

Apparent Distance: 15.539993460365459

In [28]:
print(star_table.loc[minimum_idx_vernal_equinox]) #Print data for star closest to the sun on the Vernal Equinox

Name     Algenib
RA      0.220597
DEC      15.1836
Name: 2, dtype: object

### What star is closest to the Sun on the Winter Solstice?

In [29]:
star_closest_to_sun_winter_solstice = star_table.query('13 < RA < 23 and -53.4 < DEC < 6.6') #Winter solstice RA = 18H Dec= -23.4'

In [30]:
star_closest_to_sun_winter_solstice

             Name         RA        DEC
43          Spica  13.419890 -11.161245
52      Unukalhai  15.737777   6.425520
53        Antares  16.490130 -26.431946
55         Shaula  17.560146 -37.103748
58  KausAustralis  18.402874 -34.384315
60          Nunki  18.921088 -26.296594
66         Alnair  22.137188 -46.960616
67      Fomalhaut  22.960785 -29.621837

In [31]:
#Take the stars from above, and assign RA and DEC variables for them all
#Index [43,52,53,55,58,60,66,67] -> [7,8,9,10,11,12,13,14]
RA7 = star_table['RA'][43]
DEC7 = star_table['DEC'][43]

RA8 = star_table['RA'][52]
DEC8 = star_table['DEC'][52]

RA9 = star_table['RA'][53]
DEC9 = star_table['DEC'][53]

RA10 = star_table['RA'][55]
DEC10 = star_table['DEC'][55]

RA11 = star_table['RA'][58]
DEC11 = star_table['DEC'][58]

RA12 = star_table['RA'][60]
DEC12 = star_table['DEC'][60]

RA13 = star_table['RA'][66]
DEC13 = star_table['DEC'][66]

RA14 = star_table['RA'][67]
DEC14 = star_table['DEC'][67]

In [32]:
print('RA7:',RA7,' DEC7:',DEC7)
print('RA8:',RA8,'  DEC8:',DEC8)
print('RA9:',RA9,' DEC9:',DEC9)
print('RA10:',RA10,'DEC10:',DEC10)
print('RA11:',RA11,'DEC11:',DEC11)
print('RA12:',RA12,'DEC12:',DEC12)
print('RA13:',RA13,'DEC13:',DEC13)
print('RA14:',RA14,'DEC14:',DEC14)

RA7: 13.41989015  DEC7: -11.16124491
RA8: 15.7377766   DEC8: 6.42551971
RA9: 16.49012986  DEC9: -26.43194608
RA10: 17.56014624 DEC10: -37.10374835
RA11: 18.40287397 DEC11: -34.3843146
RA12: 18.92108797 DEC12: -26.29659428
RA13: 22.13718789 DEC13: -46.96061593
RA14: 22.96078488 DEC14: -29.62183701

In [33]:
#Function calculates the apparent distance between a star and the sun at the winter solstice using each stars RA & DEC
def calc_distance_winter_solstice(RA,DEC):
    apparent_distance = math.sqrt(((18*15)-RA*15)**2+(((-23.4)-DEC)**2)) #Convert RA to degrees (multiply by 15) and use pythagorean theorem to get app distance #Winter solstice: RA=18h DEC:-23.4 degrees
    return apparent_distance

In [35]:
distance_array_winter_solstice = (calc_distance_winter_solstice(RA7,DEC7), #Create an array of the apparent distances
                                  calc_distance_winter_solstice(RA8,DEC8),
                                  calc_distance_winter_solstice(RA9,DEC9),
                                  calc_distance_winter_solstice(RA10,DEC10),
                                  calc_distance_winter_solstice(RA11,DEC11),
                                  calc_distance_winter_solstice(RA12,DEC12),
                                  calc_distance_winter_solstice(RA13,DEC13),
                                  calc_distance_winter_solstice(RA14,DEC14))
print(distance_array_winter_solstice) #Print array of apparent distances

(69.78326109976577, 45.17780357720812, 22.85009761371583, 15.209331613585396, 12.536919089835234, 14.116690275366992, 66.3797818719116, 74.67143527847338)

In [36]:
distance_dataframe_winter_solstice = pd.DataFrame({'Name':star_closest_to_sun_winter_solstice['Name'],'Distance':distance_array_winter_solstice}) #Convert array to a dataframe

In [37]:
distance_dataframe_winter_solstice #Print apparent distance (dataframe) of stars

             Name   Distance
43          Spica  69.783261
52      Unukalhai  45.177804
53        Antares  22.850098
55         Shaula  15.209332
58  KausAustralis  12.536919
60          Nunki  14.116690
66         Alnair  66.379782
67      Fomalhaut  74.671435

In [38]:
minimum_idx_winter_solstice = distance_dataframe_winter_solstice['Distance'].idxmin() #Finding the index of the minimum distance value

In [39]:
print('Index:',minimum_idx_winter_solstice) #Print index value

Index: 58

In [40]:
print('Star:',star_table['Name'].loc[minimum_idx_winter_solstice]) #Access the cell in the given dataframe and print the name

Star: KausAustralis

In [41]:
print('Apparent Distance:',distance_dataframe_winter_solstice['Distance'].loc[minimum_idx_winter_solstice]) #Print apparent distance in degrees

Apparent Distance: 12.536919089835234

In [42]:
print(star_table.loc[minimum_idx_winter_solstice]) #Print data for star closest to the sun on the Winter Solstice

Name    KausAustralis
RA            18.4029
DEC          -34.3843
Name: 58, dtype: object

---

### Due Wed Jan 22 - 1pm
- `Make sure to change the filename to your name!`
- `Make sure to change the Title to your name!`
- `Save notebook as .html: File -> Download as -> HTML (.html)`
- `Upload .html to Canvas`