# Protect Earth!

In [1]:
import numpy as np
import pandas as pd

from astropy import units as u
from astropy import constants as const
from astropy.table import QTable, Table

## Read in the dataset `./Data/PHA.csv`

In [18]:
astro_table = QTable.read('./Data/PHA.csv', format = "ascii.csv")
astro_table

<QTable length=5>
  Name     Semi_Major_AU      Eccentricity    Abs_Mag  Albedo
  str8        float64           float64       float64 float64
-------- ----------------- ------------------ ------- -------
   Khufu 0.989537560450789 0.4685174247283059    18.3    0.21
 Orpheus 1.209662179045708 0.3227518287938224   19.03   0.357
  Zephyr 1.961922094181047 0.4920120116291148    15.7   0.199
    Cuno 1.982718743264263 0.6342867024321133    14.1   0.097
Dionysus  2.19861623099639 0.5415435918949166    16.4    0.16

---

## Determine how many nuclear weapons, with a yield of 1 ton-TNT, will be needed to destroy each of the PHAs.

* Write the functions: `find_diameter`, `find_mass`, and `number_weapons`
* Make sure you use units.
* Assume the PHA asteroids have a density = 3,000 kg/m$^3$
* Add 3 columns to the data table

#### For the `number_missles` function:

* Express your answer in units of `Tons_TNT`
* 1 ton TNT $= 4.18 \times 10^9$ J

---

`find_diameter`

In [3]:
# Write a function
def find_diameter(absolute_magnitude,geometric_albedo):
    compute_diameter = (1329)/(np.sqrt(geometric_albedo))*10**((-0.2)*(absolute_magnitude))
    return compute_diameter

In [4]:
# Apply the function
diameter = find_diameter(astro_table['Abs_Mag'], astro_table['Albedo'])
diameter

<Column name='Albedo' dtype='float64' length=5>
0.6344761967444102
 0.347688937525904
 2.158233566515278
 6.458610790185055
1.7436727866798702

In [5]:
# Add the data column to the table
astro_table["Diameter"] = diameter*(u.km)
astro_table

<QTable length=5>
  Name     Semi_Major_AU      Eccentricity    Abs_Mag  Albedo      Diameter
                                                                      km
  str8        float64           float64       float64 float64      float64
-------- ----------------- ------------------ ------- ------- ------------------
   Khufu 0.989537560450789 0.4685174247283059    18.3    0.21 0.6344761967444102
 Orpheus 1.209662179045708 0.3227518287938224   19.03   0.357  0.347688937525904
  Zephyr 1.961922094181047 0.4920120116291148    15.7   0.199  2.158233566515278
    Cuno 1.982718743264263 0.6342867024321133    14.1   0.097  6.458610790185055
Dionysus  2.19861623099639 0.5415435918949166    16.4    0.16 1.7436727866798702

---

`find_mass`

In [6]:
# Write a function
def find_mass(diameter,density):
    compute_mass = ((density)*(np.pi)*(diameter)**3)/6
    return(compute_mass).decompose()

In [7]:
# Apply the function0
density = 3000*(u.kg/(u.m**3))
mass = find_mass(astro_table['Diameter'],density)
mass

<Quantity [4.01204576e+11, 6.60225806e+10, 1.57912026e+13, 4.23191775e+14,
           8.32750392e+12] kg>

In [8]:
# Add the data column to the table
astro_table["Mass"] = mass
astro_table

<QTable length=5>
  Name     Semi_Major_AU   ...      Diameter             Mass
                           ...         km                 kg
  str8        float64      ...      float64            float64
-------- ----------------- ... ------------------ ------------------
   Khufu 0.989537560450789 ... 0.6344761967444102  401204575971.2419
 Orpheus 1.209662179045708 ...  0.347688937525904  66022580639.14006
  Zephyr 1.961922094181047 ...  2.158233566515278 15791202589205.992
    Cuno 1.982718743264263 ...  6.458610790185055  423191775134435.0
Dionysus  2.19861623099639 ... 1.7436727866798702  8327503921458.565

---

`number_weapons`

In [9]:
# Write a function
def number_weapons(mass,diameter):
    compute_pe = (6*(const.G)*(mass**2))/(5*(diameter)*(4.18e9*u.J))
    return compute_pe.decompose()

In [10]:
# Apply the function
weapons = number_weapons(astro_table['Mass'], astro_table['Diameter'])
weapons

<Quantity [4.86101666e+00, 2.40217590e-01, 2.21382178e+03, 5.31307579e+05,
           7.62035827e+02]>

In [11]:
# Add the data column to the table
astro_table["Number of Weapons"] = weapons
astro_table

<QTable length=5>
  Name     Semi_Major_AU   ...        Mass        Number of Weapons
                           ...         kg
  str8        float64      ...      float64            float64
-------- ----------------- ... ------------------ ------------------
   Khufu 0.989537560450789 ...  401204575971.2419  4.861016663911408
 Orpheus 1.209662179045708 ...  66022580639.14006 0.2402175904745984
  Zephyr 1.961922094181047 ... 15791202589205.992 2213.8217793738318
    Cuno 1.982718743264263 ...  423191775134435.0  531307.5789484596
Dionysus  2.19861623099639 ...  8327503921458.565  762.0358269211143

## Save the table to a file!

* This is the file to upload to Canvas

In [24]:
astro_table.write('./Data/astro_qtable.ecsv',format='ascii.ecsv')

WARNING: AstropyDeprecationWarning: ./Data/astro_qtable.ecsv already exists. Automatically overwriting ASCII files is deprecated. Use the argument 'overwrite=True' in the future. [astropy.io.ascii.ui]

---

## Blowing up an asteroid

The self gravitational potential energy of a uniform sphere of mass (M) and diameter (D) is:

$$ \large
PE \ = \ \frac{6}{5} \cdot \frac{GM^2}{D}
$$

This is the amount of energy you need to give the sphere to move all of its components pieces infinitely far away (i.e. to destroy it!).

Remember that the mass and diameter of the asteroid are derived from its **absolute magnitude**, **albedo**, and **density**.

---

## Due Wed Feb 4 (1pm)

 * `Upload your SAVED TABLE file to Canvas!`