---

## Some websites for this assignment:

- ## [Overleaf](https://v2.overleaf.com/)

- ## [Overleaf Docs and Help](https://v2.overleaf.com/learn)

- ## [Latex Symbols](https://en.wikipedia.org/wiki/Wikipedia:LaTeX_symbols)

- ## [Latex draw symbols](http://detexify.kirelabs.org/classify.html)

- ## [The SAO/NASA Astrophysics Data System](https://ui.adsabs.harvard.edu/#classic-form)

---

- ## [Latex wikibook](https://en.wikibooks.org/wiki/LaTeX)

---

# $\LaTeX$ Assignment

-----------------------------------------------------------------------------
LaTeX homework - Create a LaTeX document with references.
-----------------------------------------------------------------------------

Start with the file: FirstLast.tex

Minimum required elements:

* Between 2 and 4 pages in length (pages > 4 will be ignored).

* At least two paragraphs of text (the text should be coherent).

* At least 5 references from ADS.

  * Make sure to \citep{} or \citet{} the references in your paper

* The equation on the blackboard.

* One (or more) equation(s) of your choice.

* Include the plot you generated last class (MyCoolPlot.png)

* One other plot/image (do not reuse and old one!)

* One table of at least 4 columns and 4 rows.

* Bonus points given for interesting content!

-----------------------------------------------------------------------------

Create a PDF file:

Save the file as FirstLast.pdf (i.e. TobySmith.pdf)

Upload the PDF to the class canvas site

-----------------------------------------------------------------------------
Deadline: Monday Dec 02 - 11pm
-----------------------------------------------------------------------------

## `pandas` can output $\LaTeX$ tables

In [5]:
import pandas as pd

In [18]:
my_table = pd.read_csv('./Data/NamedStars.csv')

In [19]:
my_table[0:5]

        Name        RA        DEC
0  Alpheratz  0.139769  29.090828
1       Caph  0.152803  59.150218
2    Algenib  0.220597  15.183616
3      Ankaa  0.438019 -42.305122
4     Shedir  0.675108  56.537409

In [21]:
print(my_table.to_latex(index=False))

\begin{tabular}{lrr}
\toprule
            Name &         RA &        DEC \\
\midrule
       Alpheratz &   0.139769 &  29.090828 \\
            Caph &   0.152803 &  59.150218 \\
         Algenib &   0.220597 &  15.183616 \\
           Ankaa &   0.438019 & -42.305122 \\
          Shedir &   0.675108 &  56.537409 \\
          Diphda &   0.726452 & -17.986684 \\
          Mirach &   1.162166 &  35.620830 \\
        Achernar &   1.628542 & -57.236660 \\
           Hamal &   2.119524 &  23.462777 \\
         Polaris &   2.529743 &  89.264138 \\
          Menkar &   3.037994 &   4.089925 \\
           Algol &   3.136147 &  40.955651 \\
         Mirphak &   3.405375 &  49.861243 \\
         Alcyone &   3.791407 &  24.105242 \\
       Aldebaran &   4.598667 &  16.509762 \\
           Rigel &   5.242298 &  -8.201639 \\
         Capella &   5.278138 &  45.999029 \\
       Bellatrix &   5.418852 &   6.349735 \\
          Alnath &   5.438194 &  28.607873 \\
           Nihal &   5.470757 & -20.759232 \\
           Arneb &   5.545504 & -17.822292 \\
         Alnilam &   5.603559 &  -1.201917 \\
         Alnitak &   5.679312 &  -1.942578 \\
           Saiph &   5.795941 &  -9.669602 \\
      Betelgeuse &   5.919525 &   7.407036 \\
         Canopus &   6.399192 & -52.695718 \\
          Alhena &   6.628528 &  16.399415 \\
          Sirius &   6.752569 & -16.713143 \\
          Adhara &   6.977096 & -28.972089 \\
          Castor &   7.576668 &  31.888636 \\
         Procyon &   7.655149 &   5.227508 \\
          Pollux &   7.755379 &  28.026310 \\
         Alphard &   9.459792 &  -8.658683 \\
         Regulus &  10.139572 &  11.967195 \\
         Algieba &  10.332823 &  19.841860 \\
           Merak &  11.030664 &  56.382345 \\
           Dubhe &  11.062177 &  61.751119 \\
        Denebola &  11.817744 &  14.572337 \\
            Phad &  11.897150 &  53.694733 \\
           Acrux &  12.443317 & -63.099056 \\
          Alioth &  12.900454 &  55.959843 \\
    Vindemiatrix &  13.036322 &  10.959102 \\
           Mizar &  13.398728 &  54.925415 \\
           Spica &  13.419890 & -11.161245 \\
          Alkaid &  13.792374 &  49.313303 \\
           Hadar &  14.063735 & -60.372978 \\
        Arcturus &  14.261208 &  19.187270 \\
 RigelKentaurusB &  14.660942 & -60.839471 \\
 RigelKentaurusA &  14.661361 & -60.835147 \\
            Izar &  14.749792 &  27.074174 \\
          Kochab &  14.845110 &  74.155476 \\
        Alphekka &  15.578108 &  26.714910 \\
       Unukalhai &  15.737777 &   6.425520 \\
         Antares &  16.490130 & -26.431946 \\
      Rasalgethi &  17.244128 &  14.390253 \\
          Shaula &  17.560146 & -37.103748 \\
      Rasalhague &  17.582224 &  12.560576 \\
          Etamin &  17.943438 &  51.488951 \\
   KausAustralis &  18.402874 & -34.384315 \\
            Vega &  18.615607 &  38.782993 \\
           Nunki &  18.921088 & -26.296594 \\
         Tarazed &  19.770992 &  10.613269 \\
          Altair &  19.846301 &   8.867385 \\
           Deneb &  20.690532 &  45.280334 \\
       Alderamin &  21.309606 &  62.585455 \\
            Enif &  21.736428 &   9.875008 \\
          Alnair &  22.137188 & -46.960616 \\
       Fomalhaut &  22.960785 & -29.621837 \\
          Scheat &  23.062870 &  28.082455 \\
          Markab &  23.079338 &  15.205368 \\
\bottomrule
\end{tabular}